//  Variables

// Colors

$bgcolor:                   #074261;
$color_white:               #ffffff;
$color_gray:                #808080;
$color_blue:                #7990e3;
$bgcolor_blue-dark:         #3d5ed8;
$bgcolor_red:               #ff3546;
$bgcolor_orange:            #ee7a30;
$bgcolor_black:             #031d2a;



// Fonts
$primary_font: 'Roboto', sans-serif;
$UA-brandBlack: 'UA-brand-Black', sans-serif;
$UA-brandBold: 'UA-brand-Bold', sans-serif;

$font-size-base: 10px;

$time: 0.3s;


// Social
// $socials: (
//         fb: #12699b,
//         tw: #12699b,
//         yb: #12699b,
//         inst: #12699b,
//         vk: #12699b,
//         goo: #12699b,
//         rss: #12699b
// );
